p {
    text-align: center;
    color: rgb(165, 162, 156);
    font-size: 17px;
}
h1 {
    text-align: center;
    color: rgb(199, 121, 5);
    font-size: 60px;
}
h2 {
    text-align: center;
    color: rgb(180, 110, 5);
    font-size: 40px;
}
img {
    margin-left: 100px;
}



.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons img {
    width: 70px;
    border-radius: 100px;
}